.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #492F24;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFC425;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a {
    color: #FFC425;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  